<input id="check-{{ matrice.blocks[i-1].id }}" type="checkbox" name="blocks[]" value="{{ matrice.blocks[i-1].id }}">
<label for="check-{{ matrice.blocks[i-1].id }}" class="block-{{ matrice.blocks[i-1].number }}">
    {{ matrice.blocks[i-1].number }}
</label>
