<input id="check-{{ block.id }}" type="checkbox" name="blocks[]" value="{{ block.id }}">
<label data-x="{{ block.x }}" data-y="{{ block.y }}" for="check-{{ block.id }}" class="block-{{ block.number }} block {{ block.number == 999 ? 'forbiddenLabel' : '' }}">
    {{ block.number }}
</label>
