{% extends 'base.html.twig' %}

{% block title %}Play !{% endblock %}

{% block body %}
    <p>
        {% if matrice.isTraining %}
            {# todo
          {#  Score entrainement à battre : <strong>{{ best_matrice.score }}</strong> ({{ best_matrice.user.username }})<br>
        #}
        {% else %}

            <span class="badge badge-primary">
            Niveau : {{ app.user.level.level}}
            </span>
            <span class="badge badge-secondary">
            Numéro max : {{ app.user.level.maxNumber -1}}
            </span>
            <span class="badge badge-secondary">
                Grille : {{ app.user.level.multiple }}x{{ app.user.level.multiple }}
            </span>
            <span class="badge badge-secondary">
                Objectif : {{ app.user.level.target }}
            </span><br>
        {% endif %}
        Score : <strong>{{ matrice.score }}</strong>
    </p>
    <div class="matrice">
        <form action="" method="post">
            {% for block in matrice.blocks %}
                {% if loop.index == 1 %}
                    <div class="d-flex">
                {% endif %}
                 {% include 'matrice/_block.html.twig' %}
                {% if loop.index %matrice.multiple == 0 %}
                    </div>
                    {% if loop.last != true %}
                        <div class="d-flex">
                    {% endif %}
                {% endif %}
            {% endfor %}
            <button class="btn btn-primary">OK</button>
        </form>
        {% if matrice.isTraining %}
            <a class="btn btn-secondary" role="button" onclick="return confirm('Êtes vous certain de remmettre la grille à zéro ?');" href="{{ path('replay', { isCarriere: 0 }) }}">Rejouer</a>
        {% endif %}
        <button class="btn btn-secondary reset-button" id="raz">RAZ</button>
    </div>
{% endblock %}
