{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
   <h2> choisir un niveaux pour switcher </h2>

    {% for level in levels%}
        <a class="badge badge-pill badge-warning" href="{{ path('admin_level', {level: level.id}) }}">{{ level.level }}</a>
    {% endfor %}
    <h2> choisir un niveaux à mettre à jour </h2>

    {% for level in levels%}
         <a class="badge badge-pill badge-info" href="{{ path('admin_update_level', {level: level.id}) }}">{{ level.level }}</a>
    {% endfor %}
    <div>
    <a class="btn btn-primary" href="{{ path('admin_create_level') }}">Créer un niveau</a>
    </div>
        <h1>Best score</h1>
        <a href="{{ path('matrice', {matrice: best_matrice.id}) }}">{{ best_matrice.score }}</a> - {{ best_matrice.user.username }} - {{ best_matrice.createdAt|date('d/m/y H:i:s') }}
    <h1>Utilisateurs</h1>
    {% for user in users %}
        <h2>
            {{ user.username }} - {{ user.matrices|length }} parties -  {% if user.level %}Niveau {{ user.level.level }} {% else %} Pas de carriere {% endif %}
        </h2>
        {% for matrice in user.matrices %}
            <a href="{{ path('matrice', {matrice: matrice.id}) }}">{{ matrice.score }} </a>{{ matrice.createdAt|date('d/m/y H:i:s') }}
        {% endfor %}
    {% endfor %}
{% endblock %}
